form {
  font-family: "Comfortaa", cursive; }

/*feedback*/
#feedback input, #feedback select {
  width: 100%; }

#feedback button {
  width: 100%; }

#feedback select {
  -webkit-appearance: none;
  -moz-appearance: none; }
  #feedback select::after {
    content: '\2190'; }

#feedback {
  width: 50%; }

.vertical #feedback {
  display: inline-block;
  vertical-align: middle; }

/*feedback end*/
.form-footer {
  margin-top: 1em; }

.ui-input {
  position: relative;
  padding: 0;
  border: 0; }

.ui-input input, .ui-input select {
  color: gray;
  border: 0;
  background: none;
  padding: 16px 0 16px 0;
  font-size: 24px;
  outline: 0;
  tap-highlight-color: transparent;
  touch-callout: none; }

.ui-input input + label, .ui-input select + label {
  position: relative;
  display: block;
  padding: 8px 0 8px 0;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .0875em;
  font-weight: 500;
  text-align: left; }
  .ui-input input + label::before, .ui-input select + label::before, .ui-input input + label::after, .ui-input select + label::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 1px; }
  .ui-input input + label::before, .ui-input select + label::before {
    background-color: gray; }
  .ui-input input + label::after, .ui-input select + label::after {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
    background-color: black;
    height: 2px; }
  .ui-input input + label span, .ui-input select + label span {
    position: relative;
    color: gray;
    transition: color 300ms cubic-bezier(0.215, 0.61, 0.355, 1); }
    .ui-input input + label span::after, .ui-input select + label span::after {
      content: attr(data-text);
      position: absolute;
      overflow: hidden;
      left: 0;
      transform: scaleX(1);
      white-space: nowrap;
      color: black;
      background-image: linear-gradient(to right, black 50%, rgba(255, 255, 255, 0) 0%);
      background-position: 100% 50%;
      background-size: 200%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      backface-visibility: hidden;
      perspective: 1000px;
      transform: translateZ(0);
      transition: background-position 300ms cubic-bezier(0.215, 0.61, 0.355, 1); }

.ui-input input:focus + label::after, .ui-input select:focus + label::after,
.ui-input input.error + label::after,
.ui-input select.error + label::after,
.ui-input input:invalid + label::after,
.ui-input select:invalid + label::after,
.ui-input input.filled + label::after,
.ui-input select.filled + label::after {
  transform: scaleX(1);
  transform-origin: left; }

.ui-input input:focus + label span::after, .ui-input select:focus + label span::after,
.ui-input input.error + label span::after,
.ui-input select.error + label span::after,
.ui-input input:invalid + label span::after,
.ui-input select:invalid + label span::after,
.ui-input input.filled + label span::after,
.ui-input select.filled + label span::after {
  background-image: linear-gradient(to right, black 50%, rgba(255, 255, 255, 0) 0%);
  background-position: 0% 50%; }

.ui-input input.filled, .ui-input select.filled {
  color: black; }
  .ui-input input.filled + label::after, .ui-input select.filled + label::after {
    background-color: black; }
  .ui-input input.filled + label span::after, .ui-input select.filled + label span::after {
    background-image: linear-gradient(to right, black 50%, rgba(255, 255, 255, 0) 0%);
    background-position: 0% 50%; }

.ui-input input:focus, .ui-input select:focus {
  color: black; }
  .ui-input input:focus + label::after, .ui-input select:focus + label::after {
    background-color: black; }
  .ui-input input:focus + label span::after, .ui-input select:focus + label span::after {
    background-image: linear-gradient(to right, black 50%, rgba(255, 255, 255, 0) 0%);
    background-position: 0% 50%; }

.ui-input input.error, .ui-input select.error,
.ui-input input:invalid,
.ui-input select:invalid {
  color: #E66161; }
  .ui-input input.error + label::after, .ui-input select.error + label::after,
  .ui-input input:invalid + label::after,
  .ui-input select:invalid + label::after {
    background-color: #E66161; }
  .ui-input input.error + label span::after, .ui-input select.error + label span::after,
  .ui-input input:invalid + label span::after,
  .ui-input select:invalid + label span::after {
    background-image: linear-gradient(to right, #E66161 50%, rgba(255, 255, 255, 0) 0%);
    background-position: 0% 50%; }

.btn {
  border: 0;
  background-color: black;
  padding: 18px 30px 18px 30px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: .0875em;
  font-weight: 500;
  border-radius: 100px;
  outline: 0;
  color: white;
  transition: background-color 300ms cubic-bezier(0.215, 0.61, 0.355, 1), color 300ms cubic-bezier(0.215, 0.61, 0.355, 1); }

.btn:focus, .btn:active,
.btn:hover {
  background-color: lightgrey;
  color: black; }

.__first, .__second, .__third, .__fourth {
  animation-name: fadeIn;
  animation-duration: 180ms;
  animation-fill-mode: both;
  animation-iteration-count: 1; }

.__first {
  animation-delay: 0ms; }

.__second {
  animation-delay: 80ms; }

.__third {
  animation-delay: 180ms; }

.__fourth {
  animation-delay: 360ms; }

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -25%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
